name: Publish Extension

on:
  release:
    types:
      - created

jobs:
  publish:
    name: Publish to VS Code Marketplace
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish to VS Code Marketplace
        run: pnpm deploy
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
